body {
    font-family: 'Montserrat', sans-serif;
    position: flex;
    margin: 0 auto;
    background-color: aquamarine;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    width: 80vw;
    padding: 0 50px;
}

header {
    background-color: coral;
    height: 88px;
    position: relative;
}

.logo {
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    bottom: 0;
}

main {
    position: relative;
    padding-top: 40px;
    background-color: gray;
}



.input-text {
    position: absolute;
    width: 680px;
    height: calc(100% - 80px);
    top: 80px;
    left: 240px;
    background-color: cadetblue;
}

.normal-text {
    position: absolute;
    resize: none;
    font-size: 18px;
    width: 675px;
    height: calc(100% - 181px);
}

.notice {
    display: inline;
}

.button-encrypt {

    position: absolute;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background: #0A3871;
    border: 2px solid #0A3871;
    bottom: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #E5E5E5;
    text-align: center;
}

.button-decrypt {
    position: absolute;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background: #E5E5E5;
    border: 2px solid #0A3871;
    bottom: 40px;
    /* left: 352px; */
    right: 0;
    font-size: 16px;
    font-weight: bold;
    color: #0A3871;
    text-align: center;
}


.output-text {
    position: absolute;
    width: 400px;
    height: calc(100vh - 148px);
    top: 0;
    left: 1000px;
    background-color: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    display: grid;
    place-items: center;
}

.decrypted-text {
    position: absolute;
    resize: none;
    font-size: 18px;
    top: 30px;
    left: 30px;
    width: 338px;
    height: calc(100% - 181px);

}

.output-no-text {
    /* margin: 0 auto; */
    position: relative;
    display: grid;
    width: 340px;
    height: 465px;
    grid-template-rows: auto 1fr auto;
}

.munieco {
    width: 340px;
    height: 308px;
    position: relative;

}

.output-no-text h2 {
    position: absolute;
    bottom: 64px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.output-no-text p {
    position: absolute;
    width: 336px;
    bottom: 0px;
    text-align: center;
}

.button-copy {
    position: absolute;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background: #ffffff;
    border: 2px solid #0A3871;
    bottom: 40px;
    left: 36px;
    font-size: 16px;
    font-weight: bold;
    color: #0A3871;
}


footer {
    height: 60px;
    background-color: brown;
}