body {
    font-family: 'Montserrat', sans-serif;
    position: flex;
    margin: 0 auto;
    background-color: #F3F5FC;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    width: 80vw;
    padding: 0 50px;
}

header {
    background-color: #F3F5FC;
    height: 88px;
    position: relative;
}

.logo {
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    bottom: 0;
}

main {
    position: relative;
    padding-top: 40px;
    background-color: #F3F5FC;
}



.input-text {
    position: absolute;
    width: 680px;
    height: calc(100% - 80px);
    top: 80px;
    left: 240px;
    background-color: #F3F5FC;
}

.normal-text {
    position: absolute;
    resize: none;
    font-size: 32px;
    color: #0A3871;
    background-color: #D9D9D9;
    width: 675px;
    height: calc(100% - 181px);
    text-transform: lowercase;
    border: 0;
}

.notice {
    display: inline;
}

.button{
    position: absolute;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 2px solid #0A3871;
    bottom: 40px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.button:hover{
    opacity: 0.6;
    cursor: pointer;
}

#button-encrypt {
    color: #E5E5E5;
    background: #0A3871;
}

#button-decrypt {
    background: #E5E5E5;
    right: 0;
    color: #0A3871;
}


.output-text {
    position: absolute;
    width: 400px;
    height: calc(100vh - 148px);
    top: 0;
    left: 1000px;
    background-color: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    display: grid;
    place-items: center;
}

.decrypted-text {
    position: absolute;
    resize: none;
    font-size: 24px;
    color: #495057;
    top: 30px;
    left: 30px;
    width: 338px;
    height: calc(100% - 181px);
    border: 0;
    background-color: #FFFFFF;
}

.output-no-text {
    position: relative;
    display: grid;
    width: 340px;
    height: 465px;
    grid-template-rows: auto 1fr auto;
}

.munieco {
    width: 340px;
    height: 308px;
    position: relative;

}

.output-no-text h2 {
    position: absolute;
    bottom: 64px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.output-no-text p {
    position: absolute;
    width: 336px;
    bottom: 0px;
    text-align: center;
}

#button-copy {
    background: #ffffff;
    left: 36px;
    color: #0A3871;
}


footer {
    text-align: center;
    height: 60px;
    background-color: #F3F5FC;
    align-items: center;
    
}

.encoded{
    font-size: 13px;
    margin: 20px;
    color: #0A3871;
    font-weight: bold;
    
}